### markdown

* **Bold** 
* *italic* 
* ***IB*** 
* Normal Text
     * list
     * list 2
     
     
1. Ordered list element 1 
2. Ordered list element 2

![download](download.jpg)<br>
<img src="download.jpg" style="float:left"> <br>

### Python Basics

Python version 3.7

* It is scripting (with can execute  line by line)
* Object Oriented
* functional

In [2]:
# Python Comments



print("Hello world") #basic output
print ("Hello Python")
print("Hello world","!",end="||")
print("hello python")

Hello world
Hello Python
Hello world !||hello python

### Assignment

In [3]:
n1=123456 #Single variable Assignment
n1

123456

In [4]:
n1=123456 #multi variable Assignment  of the same value
n3=n2=n1
n3

123456

In [5]:
a,b,c=123,234,345 # multi variable assignment with diffrent values
c

345

In [6]:
a,b,c=123,234,345
print(a,b,c)

123 234 345

### Data Types & Conversion

- Int
- float
- String
- Double

In [7]:

s1="python"
type(s1)

f1=12.56
type(f1)
str(int(f1))

'12'

### Arithematic Operations

- +
- -
- *
- /
- %
- **

In [8]:
n1 % 11

n3= n2** 12


type(n3)# int
len(str(n3))
n3

atoms= 10 ** 96
len(str(n3))

62

### Conditionals

In [9]:
atoms < 10 ** 79

False

In [23]:
if atoms < 10 ** 106:
    print("True")

True

In [1]:
#check if a number is Even
n=123
if n%2==0:
    print("Even")
else:
    print("odd")

odd