In [ ]:
s=input()

In [11]:
s=input()
s=s.capitalize().replace(" ","")
print(s)

A P S S D C
Apssdc

In [34]:
s=input().split()
for i in s:
    if len(max(s))==len(i):
        print(i)

skill development
skill

In [56]:
s=input().split()

for i in  s:
    if i.startswith("r"):
        print(i)
    else:
        print(-1)

thejesh rajesh suresh naveen raa
-1
rajesh
-1
-1
raa

In [60]:
n=input()
count=0
for i in n:
n=n.isupper()
count+=1
print(count)

ThejesH
1

### Task Soultion

In [ ]:
#1. Print given characters as a word with starting character capital form and remaining lower
#A P S S D C
#Apssdc
chara

In [64]:
#2. Print the maximum length word of given words
#Hai hello world
#hello
#world
words=input().split()
lengths=[]
for word in words:
    lengths.append(len(word))
max_length=max(lengths)
for word in words:
    if max_length==len(word):
        print(word)

thejesh rajesh
thejesh

In [71]:
#3. Print all the words which starts with the given character, If no words matches with the given condition you should print -1
#ramu ravi balu
#r
#ramu
#ravi

words=input().split()
char=input()
match=0
for word in words:
    if word.startswith(char):
        print(word)
        match+=1
if match==0:
    print(-1)

ravi rajesh bharat
r
ravi
rajesh

In [ ]:
names=input().split()
for word in names:
    for ch

### list comprehension

In [76]:
li=[]
for i in range(10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
li=[i for i in range(10)]

In [80]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
li=[i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
li=[]
for i in range(10):
    li.append(i*i)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
li=[i**3 for i in range(10)]
li

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [93]:
#Even
li=[]
for i in range(0,11,2):
    li.append(i)
print(li)

[0, 2, 4, 6, 8, 10]

In [92]:
#odd
li=[i for i in range(1,11,2)]
print(li)

[1, 3, 5, 7, 9]

In [109]:
t=2
n=10
for i in range(1,n+1):
    print(t,',',i,',',t*i)

2 , 1 , 2
2 , 2 , 4
2 , 3 , 6
2 , 4 , 8
2 , 5 , 10
2 , 6 , 12
2 , 7 , 14
2 , 8 , 16
2 , 9 , 18
2 , 10 , 20

In [106]:
li=[5*i for i in range(1,10)]
print(li)

[5, 10, 15, 20, 25, 30, 35, 40, 45]